.Cell {
  height: 100px;
  width: 100px;
  background-color: steelblue;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.Cell-lit {
  background-color: white;
}
.Cell-lit:after {
  content: "🚀";
}
